@using ECommerceMS.ViewModel
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
@section Style{
<link rel="stylesheet" href="~/css/home.css" />
}
<div id="categories" class="categories">
    <section>
        <h1 class="text-capitalize fw-bold text-center sec-header">
            Categories
        </h1>
        <div class="container">
            <div class="categories-content">
                <div class="row">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="col-md-4">
                            <div class="category">
                                <div class="category-img">
                                    <img src="~/images/categories/@category.Image" alt="" />
                                </div>
                                <h4 class="fw-bold">@category.Title</h4>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </section>
</div>

<!-- start product slider -->
<div id="products" class="product-slider p-5 mb-5">
    <section>
        <div class="container slider-container">
            <h1 class="text-capitalize fw-bold text-center sec-header">
                ower products
            </h1>
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-lg-4 col-sm-6 col-12 mb-5">
                        <div class="product-card">
                            <div class="product-label product-offer">10% off</div>
                            <div class="product-img">
                                <div class="img-overlay">
                                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id" class="text-white">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </div>
                                <img src="~/Images/products/@product.Image" alt="" />
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                @product.Name
                                </div>
                                <span class="fw-bold">EGP @product.Price</span>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
</div>
<!-- end product slider -->