@using ECommerceMS.enums
@model ECommerceMS.Models.Product

@{
    ViewData["Title"] = "Create Product";
}

@{
    SelectList categories;
    if (Model != null)
    {
        categories = new SelectList(ViewBag.Categories, "Id", "Title", Model.CategoryId);
    }
    else
    {
        categories = new SelectList(ViewBag.Categories, "Id", "Title");
    }
}

<h1>Create Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Image</label>
                <div class="custom-file">
                    <input type="file" asp-for="Image" name="Image" class="custom-file-input" id="Image" />
                    <label class="custom-file-label" asp-for="Image" class="form-control">Choose File...</label>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label">Size</label>
                <select asp-for="Size" asp-items="Html.GetEnumSelectList<Size>()" class="form-control">
                    <option>Select Product Size</option>
                </select>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Color</label>
                <select asp-for="Color" asp-items="Html.GetEnumSelectList<Color>()" class="form-control">
                    <option>Select Product Color</option>
                </select>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label">Quantity</label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category</label>
                <select asp-for="CategoryId" class="form-control" asp-items="categories">
                    <option>Select Product Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Product" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to Products</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function(){
            $('.custom-file-input').on("change", function(){
                var fileName = $(this).val().split("\\").pop();
                 $(this).next('.custom-file-label').html(fileName);
            });

        });
    </script>
}
