@model IEnumerable<ECommerceMS.Models.Product>

@{
    ViewData["Title"] = "Favourite Products";
}
@section Style{
    <link rel="stylesheet" href="~/css/product-style.css" />
}
<h1>Favourite Products</h1>
<div class="container">
    <div class="row">
        @foreach (var product in Model)
       {
            <div class="col-lg-4 col-sm-6 col-12 mb-5">
                        <div class="product-card">
                            <div class="product-label product-offer">10% off</div>
                            <div class="product-img">
                                <div class="img-overlay">
                                    <a asp-action="CustomerDetails" asp-controller="Products" asp-route-id="@product.Id" class="text-white">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </div>
                                <img src="~/Images/products/@product.Image" alt="" />
                            </div>
                            <div class="product-info">
                                <div class="product-name">
                                @product.Name
                                </div>
                                <span class="fw-bold">EGP @product.Price</span>

                                <div class="d-flex align-items-center justify-content-between">
                                    <a asp-action="" asp-controller=""><i class="fas fa-shopping-cart"></i></a>
                                   <a  asp-action="RemoveFromFavouriteList" asp-controller="Products" asp-route-id="@product.Id"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
       }
    </div>
</div>