:root {
    --main-color: #319E50;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.register-container {
    box-shadow: 0 0 10px 3px #ddd;
}

.register-form input[type="checkbox"] {
    width: 20px;
}

.register-form {
    background: white;
    padding: 100px 10px;
}

a.home-link {
    background: white;
    color: var(--main-color) !important;
    font-size: 50px;
    box-shadow: 0 0 10px #ddd;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 20px auto;
    transition: 0.3s;
}

    a.home-link:hover {
        text-decoration: none;
        color: white !important;
        background: var(--main-color) !important;
    }

.register-form label {
    color: var(--main-color);
}

.register-form input {
    width: 100%;
}

.img-container {
    background: var(--main-color) !important;
}

.shop-img img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.shop-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
