@if ( ViewData["success"] != null ) 
{
    <div class="alert alert-success">@ViewData["success"]</div>
}
<div>
    <a class="btn-primary p-2" href="\Order\Show_CusOrders\@ViewBag.CustomerID">Go To orders</a>
</div>