@if ( ViewData["success"] != null ) 
{
    <div class="alert alert-success">@ViewData["success"]</div>
}
<div>
    <a class="btn btn-success p-2 mb-5" href="\Order\Show_CusOrders\@ViewBag.CustomerID">Your orders</a>
</div>