@model ECommerceMS.ViewModel.CustomerRegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/register.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="register-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="register-form">
                        <h1 class="text-center text-white text-uppercase">Register Now</h1>
                        <form asp-action="Register">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control w-100" placeholder="Name: First Name Last Name" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Address" class="control-label"></label>
                                                <input asp-for="Address" class="form-control" placeholder="Ex: Cairo, Alex,..." />
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Phone" class="control-label"></label>
                                                <input asp-for="Phone" class="form-control" placeholder="Ex:01271310939" />
                                                <span asp-validation-for="Phone" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input asp-for="Password" class="form-control" placeholder="Enter your password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label asp-for="ConfirmPassword" class="control-label"></label>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" value="Register" class="btn btn-success" />
                            <a asp-action="Login" asp-controller="Account" class="btn btn-light d-block my-3">Login</a>

                        </form>
                    </div>
                </div>
                <div class="col-md-6 d-sm-block bg-white d-none">
                    <div class="shop-img">
                        <img src="/Images/site/shop.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>



    @section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
</body>
</html>
