@{
    ViewData["title"] = "Customize";
}
<style>
    .image-controllers {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px #ddd;
        padding: 10px 0;
        border-radius: 5px;
        border: 1px solid #ddd;
        gap: 10px;
    }

        .image-controllers button img {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }

        .image-controllers button {
            border: none;
            box-shadow: 0 0 10px #ddd;
            background: white;
        }

    .image-container {
        border: 1px solid #ddd;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px #ddd;
        overflow: hidden;
        text-align: center;
    }

        .image-container canvas {
        }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="image-container">

                <canvas width="500" height="500" id="mycanvas"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <input type="file" id="upload">
            <button id="export-btn" class="btn btn-primary">Export</button>
            <div class="image-controllers">
                @*<input type="text" id="title" class="form-control" />*@
                <button>
                    <img data-img="~/images/customize/Black Hoodi.png"
                         src="~/images/customize/Black Hoodi.png"
                         alt="" />
                </button>
                <button>
                    <img data-img="~/images/customize/Black Hoodi.png"
                         src="~/images/customize/black t shirt.png"
                         alt="" />
                </button>
                <button>
                    <img data-img="~/images/customize/gray t shirt.png"
                         src="~/images/customize/gray t shirt.png"
                         alt="" />
                </button>
            </div>
            <form asp-action="Style" asp-controller="Customize" method="post" enctype="multipart/form-data">
                <input type="file" id="test" name="imgResult" />
                <img id="img-result" name="imgResult" src="" style="width:100px;height:100px;object-fit:contain;" />
                <button type="submit" class="btn btn-success">Submit Order</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/fabric.js"></script>
<script src="~/js/FileSaver.min.js"></script>
<script src="~/js/canvas-toBlob.js"></script>
<script>

    let test =document.getElementById("test");
    //our main canvas
    let canvas = new fabric.Canvas("mycanvas");
    let imgResult = document.getElementById("img-result");
    const images = document.querySelectorAll(".image-controllers button img"); //get all template images
    /*upload logo btn*/ document
      .getElementById("upload")
      .addEventListener("change", function (e) {
        var file = e.target.files[0];
        var reader = new FileReader();
        reader.onload = function (f) {
          var data = f.target.result;
          fabric.Image.fromURL(data, function (img) {
            canvas.add(img); // add background image
          });
        };
        reader.readAsDataURL(file);
      });
    // set img  in template images as background when click on it
    images.forEach((singleImg) => {
      singleImg.addEventListener("click", function () {
        fabric.Image.fromURL(singleImg.src, function (img) {
          // add background image
          canvas.setBackgroundImage(img, canvas.renderAll.bind(canvas), {
            scaleX: canvas.width / img.width,
            scaleY: canvas.height / img.height,
          });
        });
      });
    });
    //var title = document.getElementById("title");
    //var txt = "";
    //var text = new fabric.Text(txt, {
    //      fill: 'green'
    //  });
    //  canvas.add(text);
    //title.addEventListener("input",()=>{
    //    txt = title.value;
    //})
    let filesList = test.files;
      // Render the Text on Canvas
    $("#export-btn").click(() => {
          imgResult.src = $("#mycanvas").get(0).toDataURL();
     $("#mycanvas").get(0).toBlob((blob)=>{
       blob.lastModifiedDate = new Date();
    blob.name = "customize";
           var newFile = new File([blob],"New Image",{type: blob.type});
         //Array.from(filesList).push(
         //);
          console.log(newFile);
     });
     });
</script>

}