@using ECommerceMS.ViewModel
@model CustomProductOrderViewModel
@section Style{
    <style>
        :root {
            --main-color: #319E50;
        }
        .zoom {
            transition: transform .2s;
            margin: 0 auto;
        }

        .zoom:hover {
            -ms-transform: scale(1.1); /* IE 9 */
            -webkit-transform: scale(1.1); /* Safari 3-8 */
            transform: scale(1.1); 
        }
    </style>
}
<div class="row">
    <div class="col-lg-6">
        <form method="post" asp-action="ConfirmOrder" asp-controller="Order">
            <div class="mb-3">
                <input type="hidden" asp-for="CustomerID" class="form-control" />
                 <input type="hidden" asp-for="CustomProductID" class="form-control" />
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Adress" class="form-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span class="text-danger" asp-validation-for="Adress"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span class="text-danger" asp-validation-for="Phone"></span>
            </div>
            <!------------------->
            <input type="submit" value="Confirm Order" class="btn btn-success mb-3" />
        </form>
    </div>
    <div class="col-lg-6 card text-center">
        <div class="card-header font-weight-bold text-muted">
            Order Summry
        </div>
        <div class="card-body">
            <div class="card">
                <div style="display:flex; flex:1 1 auto">
                    <div class="img-square-wrapper img-fluid bg-image hover-zoom zoom">
                        <img  src="~/Images/products/@ViewBag.customProduct.ImagePath" alt="Card image cap" class="rounded-circle" style="width:65px;">
                    </div>
                    <div class="card-body p-1 m-1">
                        <p class="card-text">
                            <div>
                                <span class="font-weight-bold text-success">Price: </span>@ViewBag.customProduct.Cost EGP
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card-footer text-muted  text-center">
        </div>
    </div>
</div>